*{
    margin: 0;
    padding: 0;   
}

body{
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(139, 139, 139);
   
}

.container{
    height: 200px;
    width: 250px;
    background-color: rgb(61, 58, 61);  
    padding: 30px;
    margin: auto;
    border-radius: 10px;
}
.button{
    background-color: rgb(61, 58, 61); 
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1:hover {
    background-color: rgb(61, 58, 61);
    color: white;
  }
  

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #1d1d1d;
  }

input,select{
    padding-top: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;       
    margin-bottom: 10px;
}

h1,h2{
    color: white;
}

